# Medusa Backend
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_4d7aa6f438957cab0527c27e1b8bdd6418ebf073535a80685806f8de69adac58

# Stripe
NEXT_PUBLIC_STRIPE_KEY=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY_HERE

# Future .NET API
NEXT_PUBLIC_DOTNET_API_URL=http://localhost:5000
